// General
$body-bg:                             #F0F0F7;
$layout-transition-speed:             .25s;

// Header
$header-height:                       55px;
$header-bg:                           #fff;
$header-color:                        $gray-600;
$header-hover-color:                  $gray-800;

// Aside
$aside-width:                         260px;
$aside-width-hidden:                  60px;
$aside-color:                         $white;
$aside-second-color:                  $gray-100;
$aside-bg:                            #4B535A;

$aside-brand-height:                  $header-height;
$aside-brand-width:                   200px;
$aside-brand-bg:                      $gray-700;
$aside-brand-bg-hover:                $gray-800;

$aside-logo-height:                   45px;
$aside-nav-item-height:               55px;

$aside-nav-icon-color:                $gray-400;